.code-area{
    width: 100%;
    font-family: monospace;
    color: white;
}

.code{
    /*background-color: #300030;*/
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: 10;
    padding: 5px;
    caret-color: wheat;
}

.output{
    background-color: #003030;
}

._container{
    padding: 0;
    margin: 0;
    width: 100%;
}

#_backdrop{
    background-color: #300030;
    color: white;
    font-family: monospace;
    padding: 5px;
}